body {
  font-family: "Arial";
}
.main-image {
  border: solid 4px black;
  border-radius: 50%;
}
.header {
  background-color: #0546af;
  margin: -16px;

}
.nav-links {
  font-size: 20px;
  color: white;
}
